<?xml version="1.0" encoding="UTF-8"?>
<ruleset>
    <file>./inc/</file>
    <file>./src/</file>
    <file>./tests/</file>

    <arg value="sp"/>
    <config name="testVersion" value="7.4-"/>

    <rule ref="Inpsyde" />

    <rule ref="Inpsyde.CodeQuality.Psr4">
        <properties>
            <property
                name="psr4"
                type="array"
                value="
                    Inpsyde\ObjectHooksRemover=>src,
                    Inpsyde\ObjectHooksRemover\Tests=>tests/src|tests/cases
                "
            />
        </properties>
    </rule>

    <rule ref="Squiz.PHP.Eval.Discouraged">
        <exclude-pattern>./tests/</exclude-pattern>
    </rule>
    <rule ref="WordPress.PHP.DiscouragedPHPFunctions">
        <exclude-pattern>./tests/</exclude-pattern>
    </rule>
    <rule ref="WordPress.PHP.DevelopmentFunctions">
        <exclude-pattern>./tests/</exclude-pattern>
    </rule>
</ruleset>
