<?xml version="1.0" encoding="UTF-8"?>
<ruleset>
    <arg name="colors" />
    <arg value="sp" />

    <file>./inc/</file>
    <file>./src/</file>
    <file>./tests/</file>

    <config name="testVersion" value="8.4-"/>

    <rule ref="Syde-Extra" />

    <rule ref="SlevomatCodingStandard.Files.TypeNameMatchesFileName">
        <properties>
            <property name="rootNamespaces" type="array">
                <element key="src" value="Inpsyde\ObjectHooksRemover"/>
                <element key="tests/src" value="Inpsyde\ObjectHooksRemover\Tests"/>
                <element key="tests/cases" value="Inpsyde\ObjectHooksRemover\Tests"/>
            </property>
        </properties>
    </rule>

</ruleset>
